<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0985a533-7a4a-403f-85cb-155b29d89421/resourceGroups/resource/providers/Microsoft.Web/sites/TaxiBotApp20191219011147</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://taxibotapp20191219011147.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>taxibotapp20191219011147.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TaxiBotApp20191219011147</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TaxiBotApp20191219011147</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>